@model SearchClass
@{
    ViewData["Title"] = "SearchResults";
}

<h2>SearchResults</h2>



@{ foreach (SearchClass item in Model.SavedNames)
    {


        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col" style="color:black">Name</th>
                    <th scope="col" style="color:black">Amount Found</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.FullNameAmount.ToString()</td>
                </tr>
                <tr>
                    <td>@item.FirstAndLastName</td>
                    <td>@item.FirstAndLastAmount.ToString()</td>
                </tr>
                <tr>
                    <td>@item.MiddleInitialLastName</td>
                    <td>@item.MiddleInitialLastNameAmount.ToString()</td>
                </tr>
                <tr>
                    <td>@item.MidileInitialDotLastName</td>
                    <td>@item.MiddleInitalDotLastNameAmount.ToString()</td>
                </tr>
            </tbody>
        </table>
    }
}

